.footer-container{
  background-color: #55463E;
  color:#FFFFFF;
  /* font-family: "Marcellus"; */
  height: 20em;
}

.footer-container h4 {
  padding-left: 2em;
  padding-bottom:1em;
  padding-top: 4em;
  
}

.footer-flexbox {
  margin-left:3em;
  display:flex;
  flex-direction:row;
  gap: 4em;
}
