@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  abbr {
    @apply no-underline;
  }
  button{
    @apply cursor-auto;
  }
}

/** react calendar **/
@layer components {
  .react-calendar {
    @apply bg-grey font-inter text-center w-4/5 hover:cursor-auto;

    .react-calendar__navigation {
      @apply flex font-serif pt-5 pb-2;
    }

    .react-calendar__month-view__weekdays {
      @apply font-mono pb-3;
    }

    .react-calendar__month-view__days {
      @apply pb-6;
    }

    .react-calendar__month-view__days__day {
      @apply py-0.5;
    }

    .react-calendar__month-view__days__day--neighboringMonth {
      @apply text-[#b5b5b5];
    }

    .eventDays {
      @apply bg-sand hover:cursor-pointer;
    }

    .eventStartDay,.eventEndDay{
      @apply bg-clay text-[#ffffff] ;
      
    }
    .eventStartDay{
      @apply rounded-tl rounded-bl;
    }
    .eventEndDay{
      @apply rounded-tr rounded-br;
    }
  }
}

@layer utilities {

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropbtn {
    background-color: #f8f9f8;
    color: #387010;
    border-radius: 8px;
    text-align: right;
  }



  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    text-align: right;
    padding-right: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    right: 0;
    top: 105%;
    background-color: #e5efef;
    color: #387170;
    border-radius: 8px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: visibility 2s, opacity 0.2s;
    visibility: hidden;
    opacity: 0;
  }


  .dropbtn:hover+.dropdown-content,
  .dropdown-content:hover {
    visibility: visible;
    opacity: 1;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #f8f9f8;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content div:hover {
    background-color: #f0f4f4;
  }

}

/* .react-calendar__month-view__weekdays {
    @apply  */
/* text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
    color: #000000;
    font-family: var(--font-jost); */
/* } */




/* .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }


  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
    font-family: var(--font-marcellus);
    text-align: center;

  }

  .react-calendar__navigation button {
    min-width: 44px;

  }

   */







/* .react-calendar__navigation button:disabled {
  background-color: #d10000;
} */

/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color:#d10000;
} */


/*

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-family:var(--font-inter);
  background-color: #f8f9f8;
}

.react-calendar .eventDays {

  background-color: #f0e8e1;
}

.react-calendar .eventStartEndDays {
  background-color: #AC7D53;
  color: white;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
} 


.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color:#000000;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
 
  font-size: 0.75em;
  font-weight: bold;
}


.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
/* .react-calendar__tile:disabled {
  background-color: #f6b3a2;
} */
/* .react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}  */